Repository hidoo/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint, prettier --write, renovate-config-validator

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "**/*.js": ["eslint"],
  "**/*.{js,json}": ["prettier --write"],
  "renovate.json": "renovate-config-validator"
}

docs: update status badge
  README.md
Due: none

chore: tweaks timeout for testing
  .mocharc.json
Due: prettier --write

chore(release): publish 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(test): test timeout tweaks
  .mocharc.json
Due: prettier --write

feat: add +prettier config
  +prettier.js
  .eslintrc.js
  package.json
Due: eslint, prettier --write

chore(deps): use pnpm run-script instead of npm-run-all
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(readme): add description for +prettier
  README.md
Due: none

chore(release): publish 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(renovate): update config
  renovate.json
Due: prettier --write, renovate-config-validator

feat(stylistic): enable jsx-pascal-case rule
  lib/stylistic.js
Due: eslint, prettier --write

refactor: use git hooks directly instead of husky
  .githooks/commit-msg
  .githooks/pre-commit
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write, renovate-config-validator

ci(github): add event called when push to main branch
  .github/workflows/test.yml
Due: none

fix: fix basic config issues
  +prettier.js
  index.js
Due: eslint, prettier --write

chore(renovate): add :prHourlyLimitNone preset
  renovate.json
Due: prettier --write, renovate-config-validator

test(renovate): remove validatation
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: remove unnecessary overrides fields in package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(readme): update status badge
  README.md
Due: none

chore(release): publish 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add config to lint the compatibility
  +compatibility.js
  .eslintrc.js
  README.md
  lib/compatibility.js
  package.json
  pnpm-lock.yaml
  test/.browserslistrc
  test/compatibility.test.js
  test/fixture/compatibility.invalid.js
  test/index.test.js
Due: eslint, prettier --write

chore: fix typos in description
  README.md
  package.json
Due: prettier --write

chore(release): publish 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(renovate): migrate to shareable config [shepherd]
  renovate.json
Due: prettier --write, renovate-config-validator

fix: fix ERR_INVALID_PACKAGE_TARGET error and add test cases for exporting subpackages
  package.json
  test/index.test.js
Due: eslint, prettier --write

chore(release): publish 1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(+node): replace rule prefixes to n
  lib/node.js
  test/fixture/node.invalid.js
  test/fixture/node.valid.js
  test/index.test.js
  test/node.test.js
Due: eslint, prettier --write

fix!: remove eslint-plugin-eslint-comments
  index.js
  lib/eslint-comments.js
  package.json
  pnpm-lock.yaml
  test/eslint-comments.test.js
  test/fixture/eslint-comments.invalid.js
  test/fixture/eslint-comments.valid.js
Due: eslint, prettier --write

fix!: [wip] migrate to flat config
  +babel.js
  +compatibility.js
  +mocha.js
  +node.js
  +prettier.js
  +stylistic.js
  .eslintignore
  .eslintrc.js
  eslint.config.js
  index.js
  lib/base.js
  lib/compatibility.js
  lib/import.js
  lib/jsdoc.js
  lib/mocha.js
  lib/node.js
  lib/sort-class-members.js
  lib/stylistic.js
  package.json
  pnpm-lock.yaml
  test/base.test.js
  test/compatibility.test.js
  test/fixture/base.invalid.js
  test/fixture/base.valid.js
  test/import.test.js
  test/index.test.js
  test/jsdoc.test.js
  test/lib/calculateConfig.js
  test/lib/findRules.js
  test/lib/index.js
  test/lib/runLint.js
  test/lib/validateConfig.js
  test/mocha.test.js
  test/node.test.js
  test/sort-class-members.test.js
  test/stylistic.test.js
Due: eslint, prettier --write

feat(stylistic): support rules that added in v2
  lib/stylistic.js
  test/fixture/stylistic.invalid.js
  test/fixture/stylistic.valid.js
  test/stylistic.test.js
Due: eslint, prettier --write

fix(stylistic): remove deprecated rule
  lib/stylistic.js
Due: eslint, prettier --write

chore(+stylistic): configure @stylistic/curly-newline rules
  lib/stylistic.js
Due: eslint, prettier --write

chore(deps): add pnpm as devDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: tweaks config for this project
  eslint.config.js
Due: eslint, prettier --write

chore(release): publish 2.0.0-beta.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: change globals to be importable as named export
  index.js
  test/index.test.js
Due: eslint, prettier --write

chore(release): publish 2.0.0
  CHANGELOG.md
  package.json
Due: prettier --write
